<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ListExtractor_JSONpedia_Interface/src/JSONpedia_Wrapper.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="JSONpedia_Wrapper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-l en  -r Avicii -f section"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ListExtractor_JSONpedia_Interface"/>
</launchConfiguration>
